{% extends 'base.html' %}

{% block content %}

<div class="m-1 p-1 border rounded-3">
    <h4> Add a new Bike</h4>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="row  mt-2">
            <div class="col">
                {{form.name.label(class_="form-label") }}
                {{form.name(class_="form-control", placeholder_=form.name.description)}}
            </div>
            <div class="col">
                {{form.brand.label(class_="form-label") }}
                {{form.brand(class_="form-control", placeholder_=form.brand.description)}}
            </div>
            <div class="col">
                {{form.model.label(class_="form-label") }}
                {{form.model(class_="form-control", placeholder_=form.model.description)}}
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col">
                {{form.material.label(class_="form-label") }}
                {{form.material(class_="form-select")}}
            </div>
            <div class="col">
                {{form.weight.label(class_="form-label") }}
                {{form.weight(class_="form-control", placeholder_=form.weight.description, step_="0.01")}}
            </div>
            <div class="col">
                {{form.purchase.label(class_="form-label") }}
                {{form.purchase(class_="form-control", placeholder_=form.purchase.description)}}

            </div>
        </div>
        <div class="row  mt-2">
            <div class="col">
                {{form.bike_type.label(class_="form-label") }}
                {{form.bike_type(class_="form-select")}}
            </div>
            <div class="col">
                {{form.bike_type_specification.label(class_="form-label") }}
                {{form.bike_type_specification(class_="form-select")}}
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-end"><input type="submit" value="Submit" class="btn btn-success"></div>
        </div>
    </form>
</div>

{% endblock %}