{% extends 'base.html' %}

{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="{{ url_for('static', filename='map_utils.js') }}"></script>

{% endblock %}

{% block content %}

<div class="m-1 p-1 border rounded-3">
    <h4> Add a new Event</h4>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.id_ride() }}
        <div class="row  mt-2">
            <div class="col">
                {{form.event_type.label(class_="form-label") }}
                {{form.event_type(class_="form-select")}}
            </div>
            <div class="col">
                {{form.date.label(class_="form-label") }}
                {{form.date(class_="form-control")}}
            </div>
            <div class="col">
                {{form.short_description.label(class_="form-label") }}
                {{form.short_description(class_="form-control")}}
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col">
                {{form.severity.label(class_="form-label") }}
                {{form.severity(class_="form-select")}}
            </div>
            <div class="col">
                {{form.latitude.label(class_="form-label") }}
                {{form.latitude(class_="form-control", placeholder_=form.latitude.description)}}
            </div>
            <div class="col">
                {{form.longitude.label(class_="form-label") }}
                {{form.longitude(class_="form-control", placeholder_=form.longitude.description)}}
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col">
                {{form.description.label(class_="form-label") }}
                {{form.description(class_="form-control", placeholder_=form.description.description)}}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-end"><input type="submit" value="Submit" class="btn btn-success"></div>
        </div>
    </form>
</div>
<div class="m-1 p-1 border rounded-3">
    <div class="my-1 fw-lighter">
        The location can be inserted by hand or selected via the map available after clicking the button below.
    </div>
    <div>
        <button id="btn_open_map" type="button" class="btn btn-success" {% if map_data is none %}
            onclick="show_map_for_form('map','btn_open_map','400',{{init_map_view[0]}},{{init_map_view[1]}},{{init_map_view[2]}})"
            {% else %} onclick="show_map_for_form_path('map','btn_open_map','600',
                                                       '{{ map_data.path.latitudes}}',
                                                       '{{ map_data.path.longitudes }}')" {% endif %}>
            Open Map
        </button>
    </div>
    <div id="map"></div>

</div>



{% endblock %}