{% extends 'base.html' %}

{% block content %}

<div class="m-1 p-1 border rounded-3">
    <h4>{{ title }}</h4>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row  mt-2">
            <div class="col">
                {{form.name.label(class_="form-label") }}
                {{form.name(class_="form-control", placeholder_=form.name.description)}}
            </div>
            <div class="col">
                {{form.year.label(class_="form-label") }}
                {{form.year(class_="form-control")}}
            </div>
            <div class="col">
                {{form.month.label(class_="form-label") }}
                {{form.month(class_="form-select")}}
            </div>
            <div class="col">
                {{form.multi_month_explicit.label(class_="form-label") }}
                {% for subfield in form.multi_month_explicit %}
                <div class="form-check form-switch form-switch-lg">
                    {{ subfield(type_="checkbox", role_="switch", class_="form-check-input",
                    checked=subfield==form.multi_month_explicit) }}
                    {{ subfield.label(class_="form-check-label") }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row  mt-2">
            <div class="col">
                {{form.aggregation_type.label(class_="form-label") }}
                {{form.aggregation_type(class_="form-select")}}
            </div>
            <div class="col">
                {{form.threshold.label(class_="form-label") }}
                {{form.threshold(class_="form-control")}}
            </div>
            <div class="col">
                {{form.boundary.label(class_="form-label") }}
                {{form.boundary(class_="form-select")}}
            </div>
        </div>
        {% if goal_type == "ride" %}
        <div class="row  mt-2">
            <div class="col">
                {{form.bike.label(class_="form-label") }}
            </div>
            <div class="col">
                {{form.ride_types.label(class_="form-label") }}
            </div>
        </div>
        <div class="row">
            <div class="col form-label fw-lighter">
                Optional constrain on the bike. Separate multiple bikes via commas.
            </div>
            <div class="col form-label fw-lighter">
                {{form.ride_types.description}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form.bike(class_="form-control", size_="3")}}
            </div>
            <div class="col">
                {{form.ride_types(class_="form-select", size_="3")}}
            </div>
        </div>
        {% endif %}
        <div class="col"></div>
        <div class="row mt-2">
            <div class="col">
                {{form.description.label(class_="form-label") }}
                {{form.description(class_="form-control", placeholder_=form.description.description)}}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-end"><input type="submit" value="Submit" class="btn btn-success"></div>
        </div>
    </form>
</div>

{% endblock %}