{% extends 'base.html' %}

{% block content %}

<div class="m-1 p-1 border rounded-3">
    <h4> Add a new ride</h4>
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col">
                {{form.date.label(class_="form-label") }}
                {{form.date(class_="form-control")}}
            </div>
            <div class="col">
                {{form.distance.label(class_="form-label") }}
                {{form.distance(class_="form-control", step_="0.01")}}
            </div>
            <div class="col">
                {{form.ride_type.label(class_="form-label") }}
                {{form.ride_type(class_="form-select")}}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                {{form.start_time.label(class_="form-label") }}
                {{form.start_time(class_="form-control", step_="1")}}
            </div>
            <div class="col">
                {{form.ride_time.label(class_="form-label") }}
                {{form.ride_time(class_="form-control", step_="1")}}
            </div>
            <div class="col">
                {{form.total_time.label(class_="form-label") }}
                {{form.total_time(class_="form-control", step_="1")}}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                {{form.bike.label(class_="form-label") }}
                {{form.bike(class_="form-select")}}
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row mt-2">
            <div class="col">
                {{form.track.label(class_="form-label") }}
                {{form.track(class_="form-control", accept_=".gpx,.fit")}}
            </div>
            <div class="col mt-auto">
                {% for subfield in form.enhance_elevation %}
                <div class="form-check form-switch form-switch-lg">
                    {{ subfield(type_="checkbox", role_="switch", class_="form-check-input",
                    checked=subfield==form.enhance_elevation) }}
                    {{ subfield.label(class_="form-check-label") }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-end"><input type="submit" value="Submit" class="btn btn-success w-100"></div>
        </div>
    </form>
</div>

{% endblock %}