<form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    {% if set_replace %}
    {{form.replace(class_="form-control visually-hidden", value_="1")}}
    {% else %}
    {{form.replace(class_="form-control visually-hidden", value_="0")}}
    {%endif%}
    <div class="row mt-2">
        <div class="col">
            {{form.track.label(class_="form-label") }}
            {{form.track(class_="form-control")}}
        </div>
        <div class="col mt-auto">
            {% for subfield in form.enhance_elevation %}
            <div class="form-check form-switch form-switch-lg">
                {{ subfield(type_="checkbox", role_="switch", class_="form-check-input",
                checked=subfield==form.enhance_elevation) }}
                {{ subfield.label(class_="form-check-label") }}
            </div>
            {% endfor %}
        </div>
        <div class="col mt-auto text-end">
            <input type="submit" value="Submit" class="btn btn-success">
        </div>
    </div>
</form>