<div class="container-fluid">
    <div class="pt-3 row">
        <div class="col-auto">
            <div class="m-1 p-2 border rounded-3">
                <form method="POST">
                    {{ overview_form.csrf_token }}
                    <input type="hidden" name="curr_month" value="{{month}}" />
                    <input type="hidden" name="curr_year" value="{{year}}" />
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                {{overview_form.year(class_="form-select")}}
                                {{overview_form.year.label(class_="form-label") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                {{overview_form.month(class_="form-select")}}
                                {{overview_form.month.label(class_="form-label") }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-floating">
                                {{overview_form.ride_type(class_="form-select")}}
                                {{overview_form.ride_type.label(class_="form-label") }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <input type="submit" value="Submit" class="btn btn-secondary h-100">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col d-block flex-nowrap justify-content-end d-sm-flex">
            <div class="row">
                <div class="col align-self-end">
                    <div class="m-1 p-2">
                        <form method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="today" value="today" />
                            <button type="submit" class="btn btn-secondary">
                                Today
                            </button>
                            {# <input type="submit" value="Submit" class="btn btn-success"> #}
                        </form>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="m-1 p-2">
                        <form method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="prev_month" value="prev_month" />
                            <input type="hidden" name="curr_month" value="{{month}}" />
                            <input type="hidden" name="curr_year" value="{{year}}" />
                            <button type="submit" class="btn btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                </svg>
                            </button>
                            {# <input type="submit" value="Submit" class="btn btn-success"> #}
                        </form>
                    </div>
                </div>
                <div class="col  align-self-end">
                    <div class="m-1 p-2">
                        <form method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="next_month" value="next_month" />
                            <input type="hidden" name="curr_month" value="{{month}}" />
                            <input type="hidden" name="curr_year" value="{{year}}" />
                            <button type="submit" class="btn btn-secondary">
                                <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                </svg>
                            </button>
                            {# <input type="submit" value="Submit" class="btn btn-success"> #}
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </div>


    {% for week in weeks%}
    <div class="row">
        <div class="col text-center pt-1">
            <div class="journal-week">
                <strong>Week {{week.week}}</strong>
            </div>
        </div>
    </div>
    <div class="row gx-1">
        {%for day in week.days%}
        <div class="col-sm d-flex">
            <div class=" w-100 px-1 py-1 border border-2 rounded-1
                        {% if day.in_month%}
                            {% if day.highlight_day%}
                            in-month-highlight-journal-day
                            {%else%}
                            in-month-journal-day
                            {%endif%}
                        {%else%}
                            {% if day.highlight_day%}
                            out-month-highlight-journal-day
                            {%else%}
                            out-month-journal-day
                            {%endif%}
                        {%endif%}
                       ">
                <div class="row">
                    <div class="col">
                        <div>{{day.name}}, {{day.date.day}}.{{day.date.month}}</div>
                        {% if day.rides|length != 0%}
                        <div class="pb-1 text-center    ">
                            {% for ride in day.rides%}
                            <div class="pt-2" {# class=" m-1 border border-2 rounded-1 " #}>
                                <div class="btn-group" role="group">
                                    <a class=" btn {{ride.btn_class}} d-flex align-items-center"
                                        href="{{url_for('ride.display', id_ride=ride.id_ride)}}">
                                        <div class="container-fuild">
                                            <div class="row">
                                                <div class="col-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-signpost" viewBox="0 0 16 16">
                                                        <path
                                                            d="M7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414a1 1 0 0 0-2 0zM12.532 5l1.666 2-1.666 2H2V5h10.532z" />
                                                    </svg>
                                                </div>
                                                <div class="col">
                                                    {{ride.distance}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                        <path
                                                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                                    </svg>
                                                </div>
                                                <div class="col">
                                                    {{ride.duration}}
                                                </div>
                                            </div>
                                            {% if ride.uphill is not none%}
                                            <div class="row">
                                                <div class="col-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-graph-up-arrow"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z" />
                                                    </svg>
                                                </div>
                                                <div class="col">
                                                    {{ride.uphill}}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if ride.downhill is not none%}
                                            <div class="row">
                                                <div class="col-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-graph-down-arrow"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M0 0h1v15h15v1H0V0Zm10 11.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v2.6l-3.613-4.417a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61L13.445 11H10.5a.5.5 0 0 0-.5.5Z" />
                                                    </svg>
                                                </div>
                                                <div class="col">
                                                    {{ride.downhill}}
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if ride.avg_velocity is not none%}
                                            <div class="row">
                                                <div class="col-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-speedometer"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                                                        <path fill-rule="evenodd"
                                                            d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
                                                    </svg>
                                                </div>
                                                <div class="col">
                                                    {{ride.avg_velocity}}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>

                                    </a>

                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <div class="col-sm d-flex">
            <div class=" w-100 px-1 py-1 border border-2 rounded-1 journal_summary">
                <div class="row">
                    <div class="col">
                        <div class="fw-bold">Summary</div>
                        {% if week.summary is not none%}
                        <div class="pt-2 pb-1 text-center    ">
                            <div class="container-fuild">
                                <div class="row">
                                    <div class="col-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-signpost" viewBox="0 0 16 16">
                                            <path
                                                d="M7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414a1 1 0 0 0-2 0zM12.532 5l1.666 2-1.666 2H2V5h10.532z" />
                                        </svg>
                                    </div>
                                    <div class="col">
                                        {{week.summary.distance}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                            <path
                                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                            <path
                                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                        </svg>
                                    </div>
                                    <div class="col">
                                        {{week.summary.duration}}
                                    </div>
                                </div>
                                {% if week.summary.uphill is not none%}
                                <div class="row">
                                    <div class="col-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z" />
                                        </svg>
                                    </div>
                                    <div class="col">
                                        {{week.summary.uphill}}
                                    </div>
                                </div>
                                {% endif %}
                                {% if week.summary.downhill is not none%}
                                <div class="row">
                                    <div class="col-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-graph-down-arrow" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M0 0h1v15h15v1H0V0Zm10 11.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v2.6l-3.613-4.417a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61L13.445 11H10.5a.5.5 0 0 0-.5.5Z" />
                                        </svg>
                                    </div>
                                    <div class="col">
                                        {{week.summary.downhill}}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>