{% extends 'base.html' %}

{% block head_scripts %}
<script src="{{ url_for('static', filename='utilities.js') }}"></script>
{% endblock %}

{% block content %}

<div class="m-1 p-2 border rounded-3">
    <form method="POST">
        {{ overview_form.csrf_token }}
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    {{overview_form.year(class_="form-select")}}
                    {{overview_form.year.label(class_="form-label") }}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{overview_form.month(class_="form-select")}}
                    {{overview_form.month.label(class_="form-label") }}
                </div>
            </div>
            <div class="col my-auto ">
                {% for subfield in overview_form.active %}
                <div class="form-check form-switch form-switch-lg">
                    {{ subfield(type_="checkbox", role_="switch", class_="form-check-input",
                    checked=subfield==overview_form.active) }}
                    {{ subfield.label(class_="form-check-label") }}
                </div>
                {% endfor %}
                {% for subfield in overview_form.inactive %}
                <div class="form-check form-switch form-switch-lg">
                    {{ subfield(type_="checkbox", role_="switch", class_="form-check-input",
                    checked=subfield==overview_form.active) }}
                    {{ subfield.label(class_="form-check-label") }}
                </div>
                {% endfor %}
            </div>
            <div class="col-auto">
                <input type="submit" value="Submit" class="btn btn-success h-100">
            </div>
        </div>
    </form>
</div>

{% if year_goal_displays|length > 0 %}
<div class="m-1 p-2 border rounded-3">
    <h4>Goals for year {{year}}</h4>
    <div class="accordion" id="accordion_year_goals">
        {% for goal in year_goal_displays %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_{{goal.goal_id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_{{goal.goal_id}}" aria-expanded="false"
                    aria-controls="collapse_{{goal.goal_id}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <svg id="check_{{goal.goal_id}}" xmlns="http://www.w3.org/2000/svg" width="22"
                                    height="22" fill="currentColor" viewBox="0 0 16 16" class="">
                                </svg>
                            </div>
                            <div class="col">{{goal.info.name}}</div>
                            <div class="col">{{goal.info.goal}}</div>
                            <div class="col">
                                {% if goal.progress_bar %}
                                <div class="progress" role="progressbar"
                                    aria-label="Progress bar for {{goal.info.name}}"
                                    aria-valuenow="{{goal.info.progress}}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped bg-success"
                                        style="width: {{goal.info.progress}}%"></div>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse_{{goal.goal_id}}" class="accordion-collapse collapse"
                aria-labelledby="heading_{{goal.goal_id}}" data-bs-parent="#accordion_year_goals">
                <div class="accordion-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{goal.info.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Value</th>
                                <td>{{goal.info.value}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Threshold</th>
                                <td>{{goal.info.threshold}}</td>
                            </tr>
                            <tr>
                                {% if goal.progress_bar %}
                                <th scope="row">Progress</th>
                                <td>{{goal.info.progress}} %</td>
                                {% else %}
                                <th scope="row">Difference to goal</th>
                                <td>{{goal.info.progress}}</td>
                                {% endif %}
                            </tr>
                    </table>
                    {% if goal.info.description is not none%}
                    <div class="p-1">{{goal.info.description|safe}}</div>
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            {% include "utils/manual_goal_mod_form.html" %}
                            <div class="col-auto"><a href="#" class="btn btn-success disabled">Modify</a></div>
                            <div class="col-auto">
                                <form method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="change_state_goal_id" value="{{goal.goal_id}}" />
                                    {% if goal.info.active %}
                                    <input type="hidden" name="change_state_value" value="Deactivate" />
                                    <input type="submit" value="Deactivate" class="btn btn-success">
                                    {% else %}
                                    <input type="hidden" name="change_state_value" value="Activate" />
                                    <input type="submit" value="Activate" class="btn btn-success">
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>style_goal_indicator("check_{{goal.goal_id}}", {{ goal.info.reached }})</script>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if month_goal_displays|length > 0 %}
<div class="m-1 mt-2 p-2 border rounded-3">
    <h4>Goals for {{month}} {{year}}</h4>
    <div class="accordion" id="accordion_month_goals">
        {% for goal in month_goal_displays %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_{{goal.goal_id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_{{goal.goal_id}}" aria-expanded="false"
                    aria-controls="collapse_{{goal.goal_id}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <svg id="check_{{goal.goal_id}}" xmlns="http://www.w3.org/2000/svg" width="22"
                                    height="22" fill="currentColor" viewBox="0 0 16 16" class="">
                                </svg>
                            </div>
                            <div class="col">{{goal.info.name}}</div>
                            <div class="col">{{goal.info.goal}}</div>
                            <div class="col">
                                {% if goal.progress_bar %}
                                <div class="progress" role="progressbar"
                                    aria-label="Progress bar for {{goal.info.name}}"
                                    aria-valuenow="{{goal.info.progress}}" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped bg-success"
                                        style="width: {{goal.info.progress}}%"></div>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse_{{goal.goal_id}}" class="accordion-collapse collapse"
                aria-labelledby="heading_{{goal.goal_id}}" data-bs-parent="#accordion_month_goals">
                <div class="accordion-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{goal.info.name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Value</th>
                                <td>{{goal.info.value}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Threshold</th>
                                <td>{{goal.info.threshold}}</td>
                            </tr>
                            <tr>
                                {% if goal.progress_bar %}
                                <th scope="row">Progress</th>
                                <td>{{goal.info.progress}} %</td>
                                {% else %}
                                <th scope="row">Difference to goal</th>
                                <td>{{goal.info.progress}}</td>
                                {% endif %}
                            </tr>
                    </table>
                    {% if goal.info.description is not none%}
                    <div class="p-1">{{goal.info.description|safe}}</div>
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            {% include "utils/manual_goal_mod_form.html" %}
                            <div class="col-auto"><a href="#" class="btn btn-success disabled">Modify</a></div>
                            <div class="col-auto">
                                <form method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="change_state_goal_id" value="{{goal.goal_id}}" />
                                    {% if goal.info.active %}
                                    <input type="hidden" name="change_state_value" value="Deactivate" />
                                    <input type="submit" value="Deactivate" class="btn btn-success">
                                    {% else %}
                                    <input type="hidden" name="change_state_value" value="Activate" />
                                    <input type="submit" value="Activate" class="btn btn-success">
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>style_goal_indicator("check_{{goal.goal_id}}", {{ goal.info.reached }})</script>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
