{% extends 'base.html' %}

{% block head_scripts %}
<script src="{{ url_for('static', filename='utilities.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container mx-1">
    <div class="row">
        <div class="col-xl me-1">
            <div class="row p-1 border rounded-3">
                {% include "tiles/summary.html" %}
            </div>
        </div>
        <div class="col-xl-7">
            <div class="row p-1 border rounded-3">{% include "tiles/last_ride.html" %}</div>
            <div class="row mt-1 p-1 border rounded-3">{% include "tiles/recent_events.html" %}
            </div>
            <div class="row mt-1 p-1 border rounded-3">{% include "tiles/goals.html" %}</div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
{% for goal in goals%}
<script>style_goal_indicator("goal_check_{{loop.index}}", {{ goal[3] }})</script>
{% endfor %}
{% endblock %}