{% extends 'base.html' %}

{% block content %}



<div class="m-1 p-2 border rounded-3">
    <div class="row mt-2 align-items-center">
        <div class="col-auto">
            <form method="POST">
                <div class="row">
                    {{ overview_form.csrf_token }}
                    <div class="col ">
                        <div class="form-floating">
                            {{overview_form.year(class_="form-select", onchange="this.form.submit()")}}
                            {{overview_form.year.label(class_="form-label") }}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-floating">
                            {{overview_form.ride_type(class_="form-select", onchange="this.form.submit()")}}
                            {{overview_form.ride_type.label(class_="form-label") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-auto text-center ">
            <a class="btn btn-success h-100" href="{{url_for('overview.heatmap')}}?year_selected={{year_selected}}">Show
                Heatmap</a>
        </div>

    </div>
    <div class="mt-4">
        <table class="table table-striped table-hover" id="overview_table">
            <thead>
                <tr>
                    {% for heading in table_data[0]%}
                    <th>{{heading}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in table_data[1]%}
                <tr>
                    {% for elem in line %}
                    {% if elem is iterable and elem is not string%}
                    <td><a href="{{elem[1]}}">{{elem[0]}}</a></td>
                    {% else %}
                    <td>{{elem}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="m-1 mt-2 p-2 border rounded-3">
    <div class="container">
        {% for plot_row in plots %}
        <div class="row">
            {% for plot, alt_text in plot_row %}
            <div class="col-xl">
                <img src="data:image/png;base64, {{ plot }}" class="img-fluid  mx-auto d-block w-100"
                    alt="{{alt_text}}" />
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block body_scripts %}
<script>
    $(document).ready(function () {
        $('#overview_table').DataTable(
            { order: [[0, 'desc']], }
        );
    });
</script>

{% endblock %}