{% extends 'base.html' %}

{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="p1 m-1 border rounded-3">
    <div class="p-2 row">
        <div class="col">
            <h3> {{ride_date}} <small class="text-muted">{{ride_from}} - {{ride_to}}</small></h3>
        </div>
        <div class="col text-end">
            <a href="{{url_for('adders.add_event')}}?date={{ride_date}}&id_ride={{id_ride}}" class="btn btn-success">
                Add event
            </a>
        </div>
    </div>

    <div class="accordion m-1 p-1 " id="ride_info_accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="ride_data_heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_ride_data" aria-expanded="true" aria-controls="collapse_ride_data">
                    Ride data
                </button>
            </h2>
            <div id="collapse_ride_data" class="accordion-collapse collapse show" aria-labelledby="ride_data_heading">
                <div class="accordion-body">
                    <table class="table mt-3">
                        <tbody>
                            {% for data in ride_data%}
                            <tr>
                                <th scope="row">{{data[0]}}</th>
                                {% if data[1] is iterable and data[1] is not string %}
                                <td><a href="{{data[1][1]}}">{{data[1][0]}}</a></td>
                                {% else %}
                                <td>{{data[1]}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if track_data is not none %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="track_data_heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_track_data" aria-expanded="false" aria-controls="collapse_track_data">
                    Track data
                </button>
            </h2>
            <div id="collapse_track_data" class="accordion-collapse collapse" aria-labelledby="track_data_heading">
                <div class="accordion-body">
                    <table class="table mt-3">
                        <tbody>
                            {% for data in track_data%}
                            <tr>
                                <th scope="row">{{data[0]}}</th>
                                <td>{{data[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-success" href="{{url_for('download_data')}}?datatype=track&id={{id_track}}">
                            <span class="px-2">Download Track</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-download" viewBox="0 0 16 16">
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                            </svg>
                            <span class="pe-2"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% elif form is not none %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="track_data_heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_track_data" aria-expanded="false" aria-controls="collapse_track_data">
                    Add Track
                </button>
            </h2>
            <div id="collapse_track_data" class="accordion-collapse collapse" aria-labelledby="track_data_heading">
                <div class="accordion-body">
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="row mt-2">
                            <div class="col">
                                {{form.track.label(class_="form-label") }}
                                {{form.track(class_="form-control")}}
                            </div>
                            <div class="col mt-auto text-end">
                                <input type="submit" value="Submit" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% if map_data is not none%}
    <div class="m-2 p-2 border rounded-3">
        <div id="map" style="height:600px"></div>
    </div>
    {% endif %}

    {% if plot_elevation_and_velocity is not none%}
    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                onclick="ele_plus_velo_click()" checked>
            <label class="btn btn-outline-success" for="btnradio1">Elevation + Velocity</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                onclick="ele_plus_slope_click()">
            <label class="btn btn-outline-success" for="btnradio2">Elevation + Slope</label>
        </div>
    </div>
    <div id="ele_plus_velo_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="chart" class="my-3"></div>
        </div>
    </div>

    <div id="ele_plus_slope_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="slope_plot" class="my-3"></div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block body_scripts %}
{% if plot_elevation_and_velocity is not none%}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var chart = {{ plot_elevation_and_velocity | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("chart", data, layout, config);
</script>
<script>
    var chart = {{ slope_plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("slope_plot", data, layout, config);
</script>
{% endif %}
<script src="{{ url_for('static', filename='map_utils.js') }}"></script>

{% if map_data is not none%}
<script>
    show_map_with_path_and_markers('map', "{{ map_data.path.latitudes }}", "{{ map_data.path.longitudes }}", [{% for marker in located_events %}
    new EventMarker({{ marker.latitude }}, {{ marker.longitude }}, "{{marker.color}}", {{ marker.color_idx }}, "{{marker.popup_text | safe}}")
    {% if loop.index < (located_events | length) %}, {% endif %}
    {% endfor %}])
</script>
{% endif %}
<script>
    document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");

    function ele_plus_slope_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "visually-hidden");
    }
    function ele_plus_velo_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "");
    }
</script>
{% endblock %}