{% extends 'base.html' %}

{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="p1 m-1 border rounded-3">
    <div class="p-2 row">
        <div class="col">
            <h3> {{ride_date}} <small class="text-muted">{{ride_from}} - {{ride_to}}</small></h3>
        </div>
        <div class="col text-end">
            <a href="{{url_for('ride.add_note', id_ride=id_ride)}}" class="btn btn-success">
                {% if has_note%}
                Modify Note
                {% else %}
                Add Note
                {% endif %}
            </a>
            <a href="{{url_for('adders.add_event')}}?date={{ride_date}}&id_ride={{id_ride}}" class="btn btn-success">
                Add event
            </a>
        </div>
    </div>

    <div class="accordion m-1 p-1 " id="ride_info_accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="ride_data_heading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_ride_data" aria-expanded="true" aria-controls="collapse_ride_data">
                    Ride data
                </button>
            </h2>
            <div id="collapse_ride_data" class="accordion-collapse collapse show" aria-labelledby="ride_data_heading">
                <div class="accordion-body">
                    <table class="table mt-3">
                        <tbody>
                            {% for data in ride_data%}
                            <tr>
                                <th scope="row">{{data[0]}}</th>
                                {% if data[1] is iterable and data[1] is not string %}
                                <td><a href="{{data[1][1]}}">{{data[1][0]}}</a></td>
                                {% else %}
                                <td>{{data[1]}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if track_data is not none %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="track_data_heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_track_data" aria-expanded="false" aria-controls="collapse_track_data">
                    Track data
                </button>
            </h2>
            <div id="collapse_track_data" class="accordion-collapse collapse" aria-labelledby="track_data_heading">
                <div class="accordion-body">
                    <table class="table mt-3">
                        <tbody>
                            {% for data in track_data%}
                            <tr>
                                <th scope="row">{{data[0]}}</th>
                                <td>{{data[1]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row" id="track_interaction_buttons">
                        <div class="col-auto">
                            <a class="btn btn-success" id="download_track_button"
                                href="{{url_for('download_data')}}?datatype=track&id={{id_track}}">
                                <span class="px-2">Download Track</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-download" viewBox="0 0 16 16">
                                    <path
                                        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                    <path
                                        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                </svg>
                                <span class="pe-2"></span>
                            </a>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-warning" id="replace_track_button"
                                onclick="show_replace_track_form()">
                                <span class="px-2">Replace Track</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path
                                        d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                    <path fill-rule="evenodd"
                                        d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                </svg>
                                <span class="pe-2"></span>
                            </button>
                        </div>

                    </div>
                    <div class="visually-hidden" id="track_replace_form">
                        <div class="p-3 border rounded-3 border-warning bg-warning-subtle">
                            <strong class="text-warning-emphasis">Replace current track</strong>
                            {% set set_replace = true %}
                            {% include "add_track_to_ride_form.html"%}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% elif show_track_add_from %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="track_data_heading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_track_data" aria-expanded="false" aria-controls="collapse_track_data">
                    Add Track
                </button>
            </h2>
            <div id="collapse_track_data" class="accordion-collapse collapse" aria-labelledby="track_data_heading">
                <div class="accordion-body">
                    {% set set_replace = false %}
                    {% include "add_track_to_ride_form.html"%}
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% if map_data is not none%}
    <div class="m-2 p-2 border rounded-3">
        <div id="map" style="height:600px"></div>
    </div>
    {% endif %}

    {% if plot_elevation_and_velocity is not none%}
    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                onclick="ele_plus_velo_click()" checked>
            <label class="btn btn-outline-success" for="btnradio1">Elevation + Velocity</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                onclick="ele_plus_slope_click()">
            <label class="btn btn-outline-success" for="btnradio2">Elevation + Slope</label>
            {% if heartrate_plot is not none%}
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                onclick="ele_plus_hr_click()">
            <label class="btn btn-outline-success" for="btnradio3">Elevation + Heartrate</label>
            {% endif %}
            {% if cadence_plot is not none%}
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                onclick="ele_plus_cadence_click()">
            <label class="btn btn-outline-success" for="btnradio4">Elevation + Cadence</label>
            {% endif %}
            {% if power_plot is not none%}
            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off"
                onclick="ele_plus_power_click()">
            <label class="btn btn-outline-success" for="btnradio5">Elevation + Power</label>
            {% endif %}
        </div>
    </div>
    <div id="ele_plus_velo_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="chart" class="my-3"></div>
        </div>
    </div>

    <div id="ele_plus_slope_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="slope_plot" class="my-3"></div>
        </div>
    </div>
    {% if heartrate_plot is not none%}
    <div id="ele_plus_hr_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="heartrate_plot" class="my-3"></div>
        </div>
    </div>
    {% endif %}
    {% if cadence_plot is not none%}
    <div id="ele_plus_cadence_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="cadence_plot" class="my-3"></div>
        </div>
    </div>
    {% endif %}
    {% if power_plot is not none%}
    <div id="ele_plus_power_plot">
        <div class=" m-2 p-2 border rounded-3">
            <div id="power_plot" class="my-3"></div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block body_scripts %}
{% if plot_elevation_and_velocity is not none%}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var chart = {{ plot_elevation_and_velocity | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("chart", data, layout, config);
</script>
<script>
    var chart = {{ slope_plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("slope_plot", data, layout, config);
</script>
{% if heartrate_plot is not none%}
<script>
    var chart = {{ heartrate_plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("heartrate_plot", data, layout, config);
</script>
{% endif %}
{% if cadence_plot is not none%}
<script>
    var chart = {{ cadence_plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("cadence_plot", data, layout, config);
</script>
{% endif %}
{% if power_plot is not none%}
<script>
    var chart = {{ power_plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("power_plot", data, layout, config);
</script>
{% endif %}
{% endif %}
<script src="{{ url_for('static', filename='map_utils.js') }}"></script>

{% if map_data is not none%}
<script>
    show_map_with_path_and_markers('map', "{{ map_data.path.latitudes }}", "{{ map_data.path.longitudes }}", [{% for marker in located_events %}
    new EventMarker({{ marker.latitude }}, {{ marker.longitude }}, "{{marker.color}}", {{ marker.color_idx }}, "{{marker.popup_text | safe}}")
    {% if loop.index < (located_events | length) %}, {% endif %}
    {% endfor %}])
</script>
{% endif %}
<script>
    document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");
    document.getElementById("ele_plus_hr_plot").setAttribute("class", "visually-hidden");
    document.getElementById("ele_plus_cadence_plot").setAttribute("class", "visually-hidden");
    document.getElementById("ele_plus_power_plot").setAttribute("class", "visually-hidden");

    function ele_plus_hr_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_hr_plot").setAttribute("class", "");
        document.getElementById("ele_plus_cadence_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_power_plot").setAttribute("class", "visually-hidden");
    }

    function ele_plus_cadence_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_hr_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_cadence_plot").setAttribute("class", "");
        document.getElementById("ele_plus_power_plot").setAttribute("class", "visually-hidden");
    }

    function ele_plus_power_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_hr_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_cadence_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_power_plot").setAttribute("class", "");
    }

    function ele_plus_slope_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_hr_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_cadence_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_power_plot").setAttribute("class", "visually-hidden");
    }
    function ele_plus_velo_click() {
        document.getElementById("ele_plus_slope_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_velo_plot").setAttribute("class", "");
        document.getElementById("ele_plus_hr_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_cadence_plot").setAttribute("class", "visually-hidden");
        document.getElementById("ele_plus_power_plot").setAttribute("class", "visually-hidden");
    }

    function show_replace_track_form() {
        document.getElementById("track_interaction_buttons").setAttribute("class", "visually-hidden");
        document.getElementById("track_replace_form").setAttribute("class", "");
    }
</script>
{% endblock %}