{% extends 'base.html' %}

{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}


{% block content %}
<div class="continer m-1 p-2 border rounded-3">
    <div class="row">
      <h4>Add segments to track {{ id_track }}</h4>
    </div>


<div class="row">
  <div class="col">
    <div class="p-2 border rounded-3">
        <div id="map" style="height:600px"></div>
    </div>
  </div>
</div>

<div id="slider_rows" class="py-2">
</div>
<div class="row">
  <div class="col">
        <input id="add_segment", value="Add segment" class="btn btn-warning w-100">
  </div>
  <div class="col">
        <input id="remove_segment", value="Remove segment" class="btn btn-danger w-100" disabled>
  </div>
  <div class="col">
        <input id="preview", value="Preview" class="btn btn-secondary w-100">
  </div>
  <div class="col">
    <input id="save", value="Save" class="btn btn-success w-100" {% if not save_enabled%}disabled{% endif %}>
  </div>
  </div>
{% if preview_table is not none %}
<div class="row py-3">
  <div class="col">
    <div class="p-2 border rounded-3">
      <h5>Preview</h5>
        {% for row in preview_table[1]%}
        <h6>Segment {{loop.index}}</h6>
        <table class="table mt-3">
            <thead>
                {% for heading in preview_table[0]%}
                <th scope="col">
                    <div {% if loop.index==1%}class="text-center" {%endif%}>{{heading}}</div>
                </th>
                {% endfor %}
                {% if modify_segments_clicked%}
                <th scope="col">Of interest</th>
                {%endif%}
            </thead>
            <tbody>
                {% set row_color = preview_table[2][loop.index0]%}
                <tr>
                    {% for element in row %}
                    {% if loop.index == 1%}
                    <td>
                        <div class="rounded-1 text-center">
                            {{element}}
                        </div>
                    </td>
                    {%else%}
                    <td>{{element}}</td>
                    {%endif%}
                    {% endfor %}
                    </tr>
            </tbody>
        </table>
        <div class="mt-3">
        <div id="map_segment_{{loop.index}}" style="height:400px" class="px-1"></div>
        <div id="plot_segment_{{loop.index}}" class="my-3 px-1"></div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>



{% endif %}
</div>
<div>
        <form method="POST" id="segment_form">
        <input type="hidden" name="submit_type" id="submit_type" value="preview">
        <input type="hidden" name="submit_indices" id="submit_indices" value="{{marker_indices}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </form>
</div>


{% endblock %}

{% block body_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="module">
  import {initialize} from "{{ url_for('static', filename='segment.js') }}";
  import {PolyLineData } from "{{ url_for('static', filename='map_utils.js') }}";
    initialize(
      'map',
      new PolyLineData(
        [{{ map_data.paths[0].latitudes }}],
        [{{ map_data.paths[0].longitudes }}],
        "{{ map_data.paths[0].color | safe }}"
      ),
      {{ n_points }},
      {{marker_indices}},
    )
</script>
{% if preview_table is not none %}
{% for plot in preview_map_plots%}
<script>
    var chart = {{ plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true, width: 10 };
    Plotly.newPlot("plot_segment_{{loop.index}}", data, layout, config);
</script>
{% endfor %}
<script type="module">
  import {PolyLineData, show_map_with_path_and_markers } from "{{ url_for('static', filename='map_utils.js') }}";
{% for map_data in preview_map_datas%}
  show_map_with_path_and_markers(
    "map_segment_{{loop.index}}",
    [
    new PolyLineData(
        [{{ map_data.paths[0].latitudes }}],
        [{{ map_data.paths[0].longitudes }}],
        "{{ map_data.paths[0].color | safe }}"
    )
    ],
    []
  )
{% endfor %}
</script>
{%endif%}

{% endblock %}
