{% extends 'base.html' %}


{% block content %}

<div class="m-1 p-2 border rounded-3">
    <h4>Information for bike: {{bike.name}}</h4>
    <table class="table mt-3">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{bike.name}}</td>
            </tr>
            <tr>
                <th scope="row">Brand</th>
                <td>{{bike.brand}}</td>
            </tr>
            <tr>
                <th scope="row">Model</th>
                <td>{{bike.model}}</td>
            </tr>
            <tr>
                <th scope="row">Material</th>
                <td>{{bike.material.text}}</td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td>{{bike.terrain_type.text}}</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>{{bike.specification.text}}</td>
            </tr>
            {% if bike.weight is not none%}
            <tr>
                <th scope="row"></th>
                <td>{{bike.weight}}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Purchased</th>
                <td>{{bike.purchased}}</td>
            </tr>
            {% if bike.decommissioned is not none%}
            <tr>
                <th scope="row"></th>
                <td>{{bike.decommissioned}}</td>
            </tr>
            {% endif %}
        </tbody>

    </table>

    {% if agg_data is not none %}
    <h5>Summary of data tracked for bike:</h5>
    <table class="table mt-3">
        <tbody>
            {% for key, value in agg_data.items()%}
            <tr>
                <th scope="row">{{key}}</th>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}


</div>

{% endblock %}