annotated-types==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version <= "3.11.2"
blinker==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
cachelib==0.9.0 ; python_version >= "3.10" and python_version < "3.13"
certifi==2023.11.17 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "3.13"
compress-pickle[lz4]==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
coverage[toml]==7.4.0 ; python_version >= "3.10" and python_version < "3.13"
debugpy==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
dynaconf==3.2.4 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.13.1 ; python_version >= "3.10" and python_version < "3.13"
fitparse==1.2.0 ; python_version >= "3.10" and python_version < "3.13"
flask-caching==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
flask-debugtoolbar==0.14.1 ; python_version >= "3.10" and python_version < "3.13"
flask-sqlalchemy==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
flask-wtf==1.2.1 ; python_version >= "3.10" and python_version < "3.13"
flask==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
geo-track-analyzer==1.1.2 ; python_version >= "3.10" and python_version < "3.13"
gpxpy==1.6.2 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==21.2.0 ; python_version >= "3.10" and python_version < "3.13"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.6 ; python_version >= "3.10" and python_version < "3.13"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
iso8601==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.3 ; python_version >= "3.10" and python_version < "3.13"
kaleido==0.2.1 ; python_version >= "3.10" and python_version < "3.13"
lz4==4.3.3 ; python_version >= "3.10" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.3 ; python_version >= "3.10" and python_version < "3.13"
osmiter==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.1.4 ; python_version >= "3.10" and python_version < "3.13"
plotly==5.18.0 ; python_version >= "3.10" and python_version < "3.13"
pluggy==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
protobuf==4.25.2 ; python_version >= "3.10" and python_version < "3.13"
psycopg2==2.9.9 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.14.6 ; python_version >= "3.10" and python_version < "3.13"
pydantic-numpy==4.1.3 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.5.3 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.17.2 ; python_version >= "3.10" and python_version < "3.13"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "3.13"
pyroutelib3==1.7.2 ; python_version >= "3.10" and python_version < "3.13"
pytest-cov==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
pytest-dependency==0.6.0 ; python_version >= "3.10" and python_version < "3.13"
pytest-mock==3.12.0 ; python_version >= "3.10" and python_version < "3.13"
pytest-sugar==0.9.7 ; python_version >= "3.10" and python_version < "3.13"
pytest==7.4.4 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.13"
redis==5.0.1 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
rich==13.7.0 ; python_version >= "3.10" and python_version < "3.13"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.10"
ruamel-yaml==0.18.5 ; python_version >= "3.10" and python_version < "3.13"
semver==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
setuptools==69.0.3 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.25 ; python_version >= "3.10" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "3.13"
termcolor==2.4.0 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.10" and python_full_version <= "3.11.0a6"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2023.4 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
werkzeug==3.0.1 ; python_version >= "3.10" and python_version < "3.13"
wtforms==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
