async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version <= "3.11.2"
blinker==1.6.2 ; python_version >= "3.10" and python_version < "4.0"
cachelib==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "4.0"
data-organizer @ git+https://github.com/kschweiger/data_organizer.git@1.4.0 ; python_version >= "3.10" and python_version < "4.0"
dynaconf==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.12.3 ; python_version >= "3.10" and python_version < "4"
fitparse==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
flask-caching==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
flask-wtf==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
flask==2.3.3 ; python_version >= "3.10" and python_version < "4.0"
gpxpy==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.10" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64") and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4.0"
iso8601==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
kaleido==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "4.0"
osmiter==1.3.1 ; python_version >= "3.10" and python_version < "4"
packaging==23.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "4.0"
plotly==5.16.1 ; python_version >= "3.10" and python_version < "4.0"
protobuf==4.24.2 ; python_version >= "3.10" and python_version < "4"
psycopg2==2.9.7 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.12 ; python_version >= "3.10" and python_version < "4.0"
pymysql==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
pypika==0.48.9 ; python_version >= "3.10" and python_version < "4.0"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "4.0"
pyroutelib3==1.7.2 ; python_version >= "3.10" and python_version < "4"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
redis==4.6.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==68.1.2 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==1.4.49 ; python_version >= "3.10" and python_version < "4.0"
tenacity==8.2.3 ; python_version >= "3.10" and python_version < "4.0"
track-analyzer @ git+https://github.com/kschweiger/track_analyzer.git@0.3.2 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "4"
urllib3==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==2.3.7 ; python_version >= "3.10" and python_version < "4.0"
wtforms==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
