{% extends 'base.html' %}

{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script type="module" src="{{ url_for('static', filename='map_utils.js') }}"></script>

{% endblock %}

{% block style %}
<style>
    .custom-range input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #1a8754;
    }
</style>
{% endblock %}

{% block content %}

<div class="m-1 p-1 border rounded-3">
    <h4> Add a new Segment</h4>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col p-1">
                    {% if locations_are_shown %}
                    <a href="{{url_for('segments.add_segment')}}?show_locations=0" class="btn btn-warning">Hide
                        locations</a>
                    {%else%}
                    <a href="{{url_for('segments.add_segment')}}?show_locations=1" class="btn btn-success">Show
                        locations</a>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="row px-1">
            <div class="col p-0">
                <div class="mb-2" id="map" style="height:600px"></div>
            </div>
        </div>
        <div class="row px-1">
            <div class="col p-0">
                <div id="profile_div" class="visually-hidden">
                    <div class="mb-2">
                        <img id="profile_plot" src="" class="img-fluid img-thumbnail" alt="Elevation profile">
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-1">
            <div class="col p-0">
                <div id="route_alert" class="visually-hidden" role="alert"></div>
            </div>
        </div>
        <div class="row px-1">
            <div class="col-xl p-0 ps-1">
                <form method="POST" enctype="multipart/form-data">
                    {{ map_segment_form.csrf_token }}
                    {{ map_segment_form.segment_latitudes() }}
                    {{ map_segment_form.segment_longitudes() }}
                    {{ map_segment_form.segment_elevations() }}
                    <div class="row align-items-end">
                        <div class="col-3">
                            <button id="get_path" type="button" class="w-100 align-bottom btn btn-success">
                                Find path
                                <div id="get_path_spinner" role="status"></div>
                            </button>
                        </div>
                        <div class="col-9"></div>
                    </div>
                    <div class="row align-items-end  align-items-center ">
                        <div class="col ">
                            <div class="row">
                                <div class="col">
                                    <select class="form-select" id="transport_selection" onchange="setStartingValues()">
                                        {% for mode in transport_modes %}
                                        <option value="{{mode.mode_name}}">{{mode.display_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class=" col">
                                            <button id="show_customize_btn" type="button"
                                                class="w-100 align-bottom btn btn-success"
                                                onclick="showSliders()">Customize</button>
                                </div>

                            </div>
                        </div>
                        <div class=" col">
                            <div class="form-floating">
                                {{ map_segment_form.segment_name(class_="form-control",
                                placeholder_=map_segment_form.segment_name.description, disabled=True)}}
                                {{map_segment_form.segment_name.label(class_="form-label") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                {{ map_segment_form.segment_type(class_="form-select", disabled=True) }}
                                {{map_segment_form.segment_type.label(class_="form-label") }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                {{ map_segment_form.segment_difficulty(class_="form-select", disabled=True) }}
                                {{map_segment_form.segment_difficulty.label(class_="form-label") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <button id="remove_last_marker" type="button" class="w-100 btn btn-success mt-1">
                                Remove last marker
                            </button>
                        </div>
                        <div class="col-9">
                            {{ map_segment_form.segment_description(class_="form-control mt-1",
                            placeholder_=map_segment_form.segment_description.description, disabled=True, rows=1)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <button id="Reset" type="button" class="w-100 btn btn-success mt-1">
                                Reset
                            </button>
                        </div>
                        <div class="col-9">
                            <input id="save_segmnet_btn" type="submit" value="Save Segment"
                                class="w-100 btn btn-success mt-1" disabled>

                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row mt-3 mx-1 py-3 px-2 border rounded-3 bg-body visually-hidden" id="sliders">
            <div class="row">
                <h5>Transport settings</h5>
            </div>

            {% for row_indices in mode_indices_per_row%}
            <div class="row">
                {% for idx in row_indices%}
                <div class="col">
                    <label for="slider_{{transport_modes[0].weight_names[i]}}"
                        class="form-label">{{transport_modes[0].weight_display_names[idx]}}</label>
                </div>
                {%endfor%}
            </div>
            <div class="row">
                {% for idx in row_indices%}
                <div class="col">
                    <div class="custom-range">
                        <input type="range" class="form-range" id="slider_{{transport_modes[0].weight_names[idx]}}"
                            min="0" max="10" step="0.1" value="0">
                    </div>
                </div>
                <div class="col-1">
                    <output id="output_{{transport_modes[0].weight_names[idx]}}"></output><br>
                </div>
                {%endfor%}
            </div>
            {%endfor%}


        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script type="module" src="{{ url_for('static', filename='add_segment.js') }}">
</script>

<script type="module">
import {EventMarker} from "{{ url_for('static', filename='map_utils.js') }}";
import {add_marker, calc_route} from "{{ url_for('static', filename='add_segment.js') }}";
{% for marker in location_markers %}
add_marker(
  new EventMarker(
  {{ marker.latitude }},
  {{ marker.longitude }},
  "{{marker.color}}",
  {{ marker.color_idx }},
  "{{marker.popup_text | safe}}"
  )
)
{% endfor %}

document.getElementById("get_path").onclick = function() {
  calc_route('{{ csrf_token() }}')
  }



var sliders = document.querySelectorAll('input[type="range"]');
var outputs = document.querySelectorAll('output');

function setStartingValues() {
    var selectedDictionary = document.getElementById("transport_selection").value;
    var startingValues = getStartingValues(selectedDictionary);

    sliders.forEach(function (slider, index) {
        slider.value = startingValues[index];
        outputs[index].textContent = slider.value;
    });
}


function getStartingValues(dictionary) {
    switch (dictionary) {
        {% for mode in transport_modes %}
        case "{{ mode.mode_name }}":
    return JSON.parse("{{ mode.weight_values }}");
    {% endfor %}

        default:
    console.log("Unimplemented mode")
}
}

sliders.forEach(function (slider, index) {
    var output = outputs[index];

    output.textContent = slider.value;

    slider.addEventListener('input', function () {
        output.textContent = this.value;
    });
});

// Set starting values on page load
setStartingValues();
window.setStartingValues = setStartingValues;
</script>

{%endblock%}
