{% extends 'base.html' %}

{% block head_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script type="module" src="{{ url_for('static', filename='map_utils.js') }}"></script>
{% endblock %}


{% block content %}
<div class="m-1 p-1 border rounded-3">
    <h4> Segments</h4>
    <div class="container">
        <div class="row pb-2">
            <div class="col">
                {% if locations_are_shown %}
                <a href="{{url_for('segments.main')}}?show_locations=0" class="btn btn-warning">Hide locations</a>
                {%else%}
                <a href="{{url_for('segments.main')}}?show_locations=1" class="btn btn-success">Show locations</a>
                {%endif%}
            </div>
        </div>
        <div class="row px-1">
            <div class="col p-0">
                <div class="mb-2" id="map" style="height:600px"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script type=module>
    import {EventMarker,segment_map} from "{{ url_for('static', filename='map_utils.js') }}";
    segment_map("map", '{{ csrf_token() }}', [{% for marker in location_markers %}
    new EventMarker({{ marker.latitude }}, {{ marker.longitude }}, "{{marker.color}}", {{ marker.color_idx }}, "{{marker.popup_text | safe}}")
    {% if loop.index < (location_markers | length) %}, {% endif %}
    {% endfor %}])
</script>
{% endblock %}
