<div class="row">
  <div class="col"></div>
  <div class="col">Start</div>
  <div class="col">End</div>
</div>
{% for interval in zones.intervals %}
<div class="row" id="row_{{loop.index}}">
  <div class="col">
    <input class="form-control" type="text" id="name_{{loop.index}}"
      value="{% if interval.name is none%} Zone {{loop.index}} {% else %}{{interval.name}}{% endif %}" />
  </div>
  <div class="col">
    <input class="form-control" type="number" id="start_{{loop.index}}" {% if interval.start is none %} disabled {% else
      %} value="{{interval.start}}" {% endif %} />
  </div>
  <div class="col">
    <input class="form-control" type="number" id="end_{{loop.index}}" {% if interval.end is none %} disabled {% else %}
      value="{{interval.end}}" {% endif %} />
  </div>
</div>

{% endfor %}
<div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <button type="button" class="btn btn-secondary"
      onclick='load_zone_form_data({{url_for("settings.get_zone_form") | tojson }}, {{payload| tojson}}, "{{csrf_token()}}" ,"add")'>Add
      Zone</button>
    <button type="button" class="btn btn-secondary" {% if disable_rm_btn %}disabled{% endif %}
      onclick='load_zone_form_data({{url_for("settings.get_zone_form") | tojson }}, {{payload| tojson}}, "{{csrf_token()}}" ,"remove")'>Remove
      Zone</button>
  </div>
</div>
