{% extends 'base.html' %}

{% block content %}

<div class="m-1 p-2 border rounded-3">
    <h3>Path heatmap for {{year_selected}}</h3>

    <div id="chart"></div>
</div>

{% endblock %}

{% block body_scripts %}
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
<script type="text/javascript">
    var chart = {{ heatmap_plot | safe}};
    var data = chart["data"];
    var layout = chart["layout"];
    var config = { displayModeBar: false, responsive: true };
    Plotly.newPlot("chart", data, layout, config);
</script>
{% endblock %}
