<h4>Goals</h4>

<div class="container">
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-end">
                <select id="form_goals_month" name="form_goals_month" class="form-select">
                    {% for month in goal_months %}
                    <option value="{{month}}" {% if month==goal_month_selected%}selected{% endif %}>
                        {{month}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col text-end">
                <select id="form_goals_year" name="form_goals_year" class="form-select">
                    {% for year in goal_years %}
                    <option value="{{year}}" {% if year==goal_year_selected%}selected{% endif %}>
                        {{year}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <input type="submit" value="Apply" class="btn btn-success w-100">
            </div>
        </div>
    </form>
    <div class="mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Goal</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for goal in goals%}
                <tr>
                    <td>{{goal[0]}}</td>
                    <td>{{goal[1]}}</td>
                    <td>{{goal[2]}}</td>
                    <td>
                        <div id="goal_check_{{loop.index}}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>