<h4>Last Ride <small class="text-muted">- {{last_ride.date}}</small></h4>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <form method="POST" enctype="multipart/form-data">
                <select id="form_last_ride_type" name="form_last_ride_type" onchange='this.form.submit()'
                    class="form-select">
                    {% for ride_type in last_ride_types %}
                    <option value="{{ride_type}}" {% if ride_type==last_ride_type_selected%}selected{% endif %}>
                        {{ride_type}}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <tbody>
                    {% for key, value in last_ride.data.items()%}
                    <tr>
                        <th scope="row">{{key}}</th>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-3 border border-danger-subtle">
            {% for thumbnail in last_ride.thumbnails %}
            <img src="data:image/png;base64, {{ thumbnail }}" class="img-fluid img-thumbnail" alt="Thumbnail">
            {% endfor %}
        </div>
    </div>
</div>