<h4>Summary</h4>
<div class="container">
    <form method="POST">
        <div class="row">
            {{ summary_form.csrf_token }}
            <div class="col-auto">
                <div class="form-floating">
                    {{summary_form.year(class_="form-select", onchange="this.form.submit()")}}
                    {{summary_form.year.label(class_="form-label") }}
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    {{summary_form.ride_type(class_="form-select", onchange="this.form.submit()")}}
                    {{summary_form.ride_type.label(class_="form-label") }}
                </div>
            </div>
        </div>
    </form>
    <table class="table mt-3">
        <tbody>
            {% for data in summary_data%}
            <tr>
                <th scope="row">{{data[0]}}</th>
                <td>{{data[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if summary_month | length > 0%}
<div class="mt-3">
    <h5>Current month</h5>
    <table class="table table-hover">
        <tbody>
            {% for data in summary_month%}
            <tr>
                <th scope="row">{{data[0]}}</th>
                <td>{{data[1]}}</td>
                <td>
                    {% if data[2] == 1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-arrow-up-right-circle-fill text-success" viewBox="0 0 16 16">
                        <path
                            d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z" />
                    </svg>
                    {% elif data[2] == -1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-arrow-up-right-circle-fill text-danger" viewBox="0 0 16 16">
                        <path
                            d="M14 16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12zM5.904 5.197 10 9.293V6.525a.5.5 0 0 1 1 0V10.5a.5.5 0 0 1-.5.5H6.525a.5.5 0 0 1 0-1h2.768L5.197 5.904a.5.5 0 0 1 .707-.707z" />
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-arrow-up-right-circle-fill text-warning" viewBox="0 0 16 16">
                        <path
                            d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z" />
                    </svg>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}