/* General stuff */
a {
    color: #20c997;
}

/* Change color in the nav bar dropdown */
.dropdown-item.active {
    background-color: var(--bs-success)
}

.dropdown-item:focus {
    background-color: var(--bs-success-bg-subtle)
}

/* Change color of the accordion */
.accordion-button:not(.collapsed) {
    /* color: var(--bs-success); */
    color: #FFFFFF;
    background-color: var(--bs-success-bg-subtle);
}

.accordion-button:focus {
    box-shadow: var(--bs-success-bg-subtle);
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Change the color of the pagination in the DataTables */
.page-item.active .page-link {
    background-color: var(--bs-success);
    border-color: var(--bs-success-border-subtle);
}

.page-link {
    color: var(--bs-success-text);
}

.page-link:hover {
    color: var(--bs-success-text);
}

.page-link:focus {
    box-shadow: var(--bs-success-bg-subtle);
}

.journal_summary {
    --bs-bg-opacity: 0.4;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-emphasis-color);
}

.journal-week {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-emphasis-color);
}

.in-month-journal-day {
    --bs-bg-opacity: 0.25;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-emphasis-color);
}

.in-month-highlight-journal-day {
    --bs-bg-opacity: 0.25;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    color: var(--bs-emphasis-color);
}

.out-month-journal-day {
    --bs-bg-opacity: 0.1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important
}

.out-month-highlight-journal-day {
    --bs-bg-opacity: 0.75;
    background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important
}